@font-face {
    font-family: 'Monocraft Nerd Font';
    src: url('../fonts/Monocraft Nerd Font.ttf') format('truetype');
}

.text {
    font-size: 30px;
    text-decoration: None;
    font-family: 'Monocraft Nerd Font';
    color: #f2e5bc;
}

.outline {
     border: 1px solid #fbf1c7;
     padding: 5px;
}

body {
  background-image: url('../backgrounds/background_5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

select option {
    background-color: #3c3836;
    color: black;
}

button {
    background-color: #3c3836;
    color: black;
}
