{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ header }}</title>
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
    <h1 class="text"> {{ title }} </h1>
    <h1><a class="text" href="{% url 'home' %}">На главную</a></h1>
    <form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data">
        <!-- Нужен для защиты формы от csrf-атак -->
        {% csrf_token %}
        <!-- Сами поля с формами и их названиями -->
        <p class="text">
            <!-- В теге for мы создаём новый атрибут в поле for -->
            <!-- Django самостоятельно создаст значение для этого поля -->
            <!-- Если исследовать код страницы то можно увидеть значение этого поля for = 'id_title' -->
            <!-- Этот IDишник после будет использоваться в сгенерированных Django тегах input для формы -->
            <label class="text" for="{{ form.title.id_for_label }}">{{ form.title.label }}: </label>
            {{ form.title }}
        </p>
        <p class="text">
            <label class="text" for="{{ form.image.id_for_label }}">{{ form.image.label }}: </label>
            {{ form.image }}
        </p>
        <p class="text">
            <label class="text" for="{{ form.description.id_for_label }}">{{ form.description.label }}: </label>
            {{ form.description }}
        </p>
        <p class="text">
            <label class="text" for="{{ form.price.id_for_label }}">{{ form.price.label }}: </label>
            {{ form.price }} Маниту
        </p>
        <p class="text">
            <label class="text" for="{{ form.is_published.id_for_label }}">{{ form.is_published.label }}: </label>
            {{ form.is_published }}
        </p>
        <!-- Этот чувак будет появляться в форме когда будут возникать какие-либо ошибки в вводимых данных -->
        <p class="text">{{ form.title.errors }}</p>
        <!-- Это кнопка которая активирует функцию указанную в атрибуте action тега form -->
        <button class="text" type="submit">Добавить товар</button>
    </form>
</body>
</html>